{% extends 'h-f-component.html.twig' %}

{% block title %}PWTN | About us{% endblock %}

{% block main %}
    <div class="container" style="background-color: white">
        <p>test</p>
    </div>
{% endblock %}