{% extends 'h-f-component.html.twig' %}

{% block title %}PWTN | Home{% endblock %}

{% block main %}
    {{ parent() }}
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body my-2">
                        <h4 class="card-title">Purpose <i class="fas fa-leaf float-right"> </i></h4>
                        <p><a href="#">> Bussines Plan</a></p>
                        <p><a href="#">> Why should we replace it?</a></p>
                        <p><a href="#">> Future Plan</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body my-2">
                        <h4 class="card-title">Client Service<i class="far fa-question-circle float-right"></i></h4>
                        <p><a href="#">> Forgot to check out</a></p>
                        <p><a href="#">> Money back in case of delay</a></p>
                        <p><a href="#">> Samenreiskorting</a></p>
                        <p><a href="#">> De OV-fiets en fietsenstallingen</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body my-2">
                        <h4 class="card-title">Special for...<i class="fas fa-users float-right"></i></h4>
                        <p><a href="#">> Business travelers and companies</a></p>
                        <p><a href="#">> Students</a></p>
                        <p><a href="#">> 60+</a></p>
                        <p><a href="#">> Travelers with a functional disability</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container"><p>
            <h3>Eco friendly potential</h3></p><br>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4"><img class="w-100" src="{{ asset('images/index-img-1.jpg') }}" alt="index-img"></div>
            <div class="col-lg-8">
                <h4>Project PTWN</h4>
                <p>
                    Where it starts is your cell phone. We are going to make an app that allows you to travel with that
                    app throughout the country and perhaps that we can extend it to continent travel. <br><br>

                    In the app you can register at your location and pay the ride via the online bank unless it is
                    reimbursed by the government. Then you have QR scanners on the bus, tram, and at the gates near the
                    train. With the app you actually show a QR code, QR scanner in the bus, tram and train gates will
                    scan your QR code. All public transport cards can then, of course, leave. <br><br>

                    This system has many benefits for multiple parties. For the conductor it is true that if you drive
                    black, the conductor usually has to look with what intention you drive black. Suppose you are
                    approached and you do not show your QR code, you will be fined. As a result, the traveler cannot use
                    the excuse that he has lost or that the traveler has forgotten to take the card with him. And for
                    environmentalists, we are wasting less plastic. <br><br>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row container my-2 m-auto" id="main-block-row-3">
        <h3 class="text-white m-auto my-5">Working to the future!</h3>
    </div>
    </div>
{% endblock %}