{% extends 'h-f-component.html.twig' %}

{% block title %}PWTN | Home{% endblock %}

{% block main %}
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Purpose <i class="fas fa-leaf float-right"> </i></h5>
                        <p><a href="#">> Bussines Plan</a></p>
                        <p><a href="#">> Why should we replace it?</a></p>
                        <p><a href="#">> Future Plan</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Client Service<i class="far fa-question-circle float-right"></i></h5>
                        <p><a href="#">> Forgot to check out</a></p>
                        <p><a href="#">> Money back in case of delay</a></p>
                        <p><a href="#">> Samenreiskorting</a></p>
                        <p><a href="#">> De OV-fiets en fietsenstallingen</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special for...<i class="fas fa-users float-right"></i></h5>
                        <p><a href="#">> Business travelers and companies</a></p>
                        <p><a href="#">> Students</a></p>
                        <p><a href="#">> 60+</a></p>
                        <p><a href="#">> Travelers with a functional disability</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><p><h4 class="display-4">Our suggestions</h4></p>
            <hr>
        </div>
        <div class="row my-2">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>








{% endblock %}