{% extends 'h-f-component.html.twig' %}

{% block title %}PWTN | Home{% endblock %}

{% block main %}
    <div class="container" style="background-color: white">
{#        <img class="w-100" src="{{ asset('images/index-banner.jpg') }}" alt="index_banner">#}
    </div>
{% endblock %}